.intro{
    p{
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
         margin-top: 2%;
       font-size: 30px;
    }
}

.homeImages{
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
    margin-top: -420px;
    

    #topLeft {
        //position: absolute;
        top: 0px;
        float: left;
        width: 50%;
        height: 55vh;
        margin-top:-9%;
        z-index: -1;
        position: relative;
        
    }
    
    #topRight {
        //position: absolute;
        top: 0px;
        float: right;
        width: 50%;
        height: 55vh;
        margin-top:-9%;
        z-index: -1;
    }
    
    #bottomLeft {
        //position: absolute;
        bottom: 0px;
        float: left;
        width: 50%;
        height: 55vh;
        z-index: -1;
    }
    
    #bottomRight {
        //position: absolute;
        bottom: 0px;
        float:right;
        width: 50%;
        height: 55vh;
        z-index: -1;
    }
}

.searchButtons{

    text-align: center;
    margin-top: 10%;
    
    p{
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 30px;
    }
    button{
        border-radius: 10px;
        padding: 15px 20px;
        font-size: 18px;
        margin-top: 5px;
        
    }
    .enterBuilding, .enterLandlord {
      
        background-color: white !important;

    }
    
}